<div id="t" class="testbox">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <br>
            <h3>Reset Password</h3>
            <form>
                <div class="form-group">
                <br>
                <pre><label id="icon" for="resetPassword">Password</label><input type="text" class="form-control" id="resetPassword" placeholder="Enter password">
                <br>
              <button type="button"class="button"value="ad-page" (click)="onBackButtonClick();"><i class="fa fa-plus"></i>Reset password</button></pre>
                </div>                
              </form><br><br><br><br><br><br><br>
        </div>
    </div>
    
</div>


