:focus {outline:none}

#t{
    
    
    background-image:url('imageproj.jpeg');
    background-size: 100% 100%;

}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  
  
}

h3 {
  font-size: 32px;
  font-weight: 300;
  color: #3a57af;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

.form-group {
  margin: 20px auto;
  width: 400px;
  padding-left: 65px; 
  height: 300px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  
}


form{
  margin: 0 30px;
}

input[type=text],input[type=password]{
  width: 200px; 
  margin-top: 46px;
  height: 25px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
 
  padding-left: 30px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  height: 12px; 
  width: 70px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 1px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

button {
   
    font-size: 16px;
    font-weight: 600;
    color:white;
    
    display: inline-block;
   
    text-decoration: none;
    width: 150px; 
    height: 27px; 
    padding-left:8px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #3a57af; 
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
    -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s; 
    top: 0px;
    position: relative;
  }
  
button:hover {
  top: 3px;
  background-color:#2e458b;
}